filebeat.config:
    modules:
      path: ${path.config}/modules.d/*.yml
      reload.enabled: false
  
  processors:
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  
  output.elasticsearch:
    hosts: "http://elasticsearch:9200"
    username: elastic
    password: changeme